@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:focus,
&:active {

	outline: none;

}
.body{
    height: 100%;
}
}
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1380;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1115;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import './room.scss';
@import './login.scss';
@import '../components/button/button.scss';
.App{
    min-height: 100vh;
}